okcoin.apiKey=<Your apikey>
okcoin.secretKey=<Your secretKey>

strategy.list=bollstrategy

strategy.bollstrategy.enable=1
strategy.bollstrategy.class=BollStrategy
strategy.bollstrategy.args=arg1, arg2
strategy.bollstrategy.args.arg1=<arg1>
strategy.bollstrategy.args.arg2=<arg2>
